.hero__title-section {
    width: 46%;
}

.hero__main-title {
    font-size: 48px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 37px;
}

.hero__title-desc {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 44px;
    padding-right: 24%;
}